version: "3.8"
services:
    rabbitmq:
        image: rabbitmq:3-management
        container_name: rabbitmq
        ports:
            - 15672:15672
            - 5672:5672
        healthcheck:
            test: ["CMD", "rabbitmqctl", "status"]
            interval: 10s
            timeout: 3s
            retries: 5


    server:
        image: annabogacheva/server_mafia_rpc
        container_name: server
        ports:
            - "8080:8080/tcp"
        depends_on:
            rabbitmq:
                condition: service_healthy

    rabbitmqserver:
        image: annabogacheva/server_mafia_rbmq
        restart: on-failure
        depends_on:
            - rabbitmq
            - server
        ports:
            - "7070:7070/tcp"